{
    "apiVersion": 1,
    "contactPoints": [
        {
            "orgId": 1,
            "name": "Slack",
            "receivers": [
                {
                    "uid": "ddnuabsv9dkw0d",
                    "type": "slack",
                    "settings": {
                        "url": "${slack_webhook}"
                    },
                    "disableResolveMessage": false
                }
            ]
        }
    ]
}